body {
  font-size: 13px;
  font-family: "Helvetica Neue Regular", "Helvetica Neue", Helvetica, Tahoma, Arial;
  letter-spacing: 0.03em;
}

input {
  font-size: inherit;
}

input.form-text {
  letter-spacing: 0.05em;
}

#content .content-inner {
  position: relative;
}

.small {
  font-size: 90%;
}

p {
  margin-top: 0em;
  margin-bottom: 0.5em;
}

table p {
  margin: 0;
}

table th {
  white-space: nowrap;
  text-shadow: 1px 1px #eee;
  font-size: 1.1em;
  text-transform: none;
  padding: 5px 6px 3px;
}

table td {
  border-right: 1px solid #dedfd9;
  padding: 4px 6px;
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
}

.pager li a {
  color: #0074bd;
}

.item-list .pager li {
  background-color: #F3F4EE;
  padding: 0.2em 0.5em;
  border: 1px solid #BEBFB9;
}

body.in-maintenance #content {
  float: left;
}

.horizontal-tabs ul.horizontal-tabs-list li {
  padding: 0;
}

.horizontal-tabs ul.horizontal-tabs-list li a:hover {
  background-color: #ffd;
}

.views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 1.2em;
}

ul,.block ul,.item-list ul {
  margin-left: 1.2em;
}

#views-live-preview .view>* {
  margin-top: 0;
}

ul.primary {
  font-size: 0.9em;
  height: auto;
}

ul.secondary {
  font-size: 1em;
}

ul.primary li {
  margin-right: 5px;
}

ul.primary li.active a,ul.primary li.active a.active,ul.primary li.active a:active,ul.primary li.active a:visited {
  box-shadow: 1px 0px 8px #888;
  color: #000;
}

ul.primary li a:link,ul.primary li a.active,ul.primary li a:active,ul.primary li a:visited,ul.primary li a:hover,ul.primary li.active a
  {
  background-color: #C7C8BF;
  padding-left: 13px;
  padding-right: 13px;
  padding-bottom: 0;
}

ul.primary li a:link,ul.primary li a:visited {
  color: #0074BD;
}

ul.primary li a:hover {
  color: #000;
}

/**************************
 *  Sidebar fuer Seven !
 * (Technik wie in BASIC)
 **************************/
#content {
  float: left;
  width: 100%;
  margin-right: -100%;
  padding: 0;
}

.sidebar {
  float: left;
}

.two-sidebars .center,.sidebar-first .center {
  margin-left: 220px;
}

#sidebar-first {
  width: 220px;
  margin-right: -220px;
}

.two-sidebars .center,.sidebar-second .center {
  margin-right: 220px;
}

#sidebar-second {
  float: right;
  width: 220px;
}

#page {
  margin-left: 20px;
  margin-right: 20px;
}

input.form-checkbox,input.form-radio {
  vertical-align: baseline;
}
/**************************
 *  Sidebar-Design
 **************************/
#sidebar-first .inner {
  margin-right: 20px;
}

#sidebar-second .inner {
  margin-left: 20px;
}

.sidebar .block {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #BEBFB9;
  border-radius: 5px;
  background-color: #F6F8F4;
}

/***********************
 *  Edit-Link
 *  (Admin-Buttons) 
 ***********************/
a.edit-link,.edit-link a {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 12px;
  color: #555;
  padding: 4px 7px;
}

a.edit-link:hover,.edit-link a:hover {
  background-color: #ccc;
  color: #333;
  border-color: #888;
  text-decoration: none;
}
/****/
input:hover.form-submit,a:hover.button {
  background-position: 0 -40px;
  border-color: #aac;
}

table.views-table caption {
  color: #949;
  font-size: 125%;
  line-height: 2em;
  font-weight: bold;
  text-align: left;
}

.block-menu {
  clear: both;
}

fieldset {
  border-radius: 5px;
}

fieldset .fieldset-legend {
  text-transform: none;
}

.sidebar .block,fieldset {
  background-color: #f4f4f4;;
}

fieldset.vertical-tabs-pane {
  background-color: #fff;
}

/* Views Old-Style: Zeige 'overridden' Bereiche komplett Italic */
.views-ui-display-tab-bucket.overridden {
  font-style: italic;
}
/***********************
 * Colorize Buttons
 ***********************/
input#edit-submit,input#edit-continue,.views-exposed-widget input.form-submit { /* green */
  color: #080;
}

input#edit-submit:hover,input#edit-continue:hover,.views-exposed-widget input.form-submit:hover {
  color: #000;
}

input#edit-save { /* yellow */
  color: #a80;
}

input#edit-save:hover {
  color: #000;
}

input#edit-delete,input#edit-remove { /* red */
  color: #a00;
}

input#edit-delete:hover,input#edit-remove:hover {
  color: #000;
}

/************************************************
 * Style Buttons
 ************************************************/
input.form-submit,a.button:link,a.button:visited,ul.secondary li a {
  border-radius: 5px;
  background: #F3F4EE;
  border: 1px solid #BEBFB7;
  box-shadow: 0 5px 3px -4px #BEBEB7;
  color: #0858A0;
  font-size: 100%;
  font-weight: bold;
  padding: 5px 15px;
  font-size: 103%;
}

input.form-submit:hover,a.button:hover,ul.secondary li a:hover {
  background: #F3F4EE;
  border: 1px solid #BEBFB7;
  color: #000;
  padding: 5px 15px;
  border-radius: 5px;
}

input.form-submit:active,ul.secondary li a:active {
  background: #E0E2D7;
  box-shadow: none;
  text-shadow: none;
}

ul.secondary li.active a.active {
  background: none;
  border: none;
  color: #000;
  box-shadow: none;
}

.horizontal-tabs ul.horizontal-tabs-list li a:hover {
  background-color: #fff;
}

/* masquerade-block lacks a "clear" */
#block-masquerade-masquerade {
  clear: both;
}

/* VBO-Buttons */
.container-inline > * + *, .container-inline .fieldset-wrapper > * + * {
  padding-left: inherit;
}
