# Ignore configuration files that may contain sensitive information.
# Ignore paths that contain user-generated content.
sites/default/files
sites/default/default.settings.php
.DS_Store
.svn/
.buildpath
MAMP_php_error_log_MAMP
nbproject
