# Ignore configuration files that may contain sensitive information.
# Ignore paths that contain user-generated content.

#ignor Mac and dev Files
.DS_Store
.svn/
.buildpath
MAMP_php_error_log_MAMP
nbproject
bigdump*
*.mysql.gz
db*

# Ignore configuration files that may contain sensitive information.
sites/default/settings.php
# Ignore paths that contain generated content.
files/
sites/*/files
/INSTALL.mysql.txt
/INSTALL.pgsql.txt
sites/*/private
# Ignore default text files
robots.txt
/CHANGELOG.txt
/COPYRIGHT.txt
/INSTALL*.txt
/LICENSE.txt
/MAINTAINERS.txt
/UPGRADE.txt
/README.txt
sites/all/README.txt
sites/all/modules/README.txt
sites/all/themes/README.txt
sites/all/modules/phpmailer*