/* CSS crunched with Crunch - http://crunchapp.net/ */

.size h3{padding-top:120px;}
.size{height:900px;}
#block-twemex-scrollspynav{position:fixed;top:60px;}
#scrollspynav .nav>li>a{transition-delay:0s;transition-duration:0.3s;transition-property:all;transition-timing-function:ease-in-out;}
.background-photo,.background-photo .background-overlay,#cover,#head{height:500px;}
.background-photo{background-position:center center;background-size:cover;height:500px;width:100%;z-index:-1000;}
